

  .slider-container {
    position: relative;
    width: 100%;
    display: none;
  }

  .slider-track {
    position: absolute;
    height: 8px;
    background: #622245;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
  }

  .slider-range {
    position: absolute;
    height: 8px;
    background: #f04b4b;
    border-radius: 4px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
  }

  input[type="range"] {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 8px;
    background: transparent;
    pointer-events: none;
    z-index: 3;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
    width: 16px;
    height: 16px;
    background: #f04b4b;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #f04b4b;
    border-radius: 50%;
    cursor: pointer;
  }