body{
    background-image: radial-gradient(circle, rgba(255,255,255,1) 24%, rgba(241,9,9,1) 54%, rgba(235,94,95,1) 100%);
    background-size: 100%;
}
a{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 15%;
    height: 50px;
    background-color: lightblue;
    border: none;
    border-radius: 25px;
}
